.umg__calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin: 80px auto;
    padding: 0 0 100px 0;
    background: #fff;   
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0 25px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 0 25px;
    box-shadow: rgba(0,0,0,0.5) 0 0 25px;
    padding: 0 30px 30px;
}

.umg__calendar .calendar__header {
    width: 98%;
    border-bottom: 1px solid #bbbbbb;
    padding: 15px 1%;
}

.umg__calendar .calendar__header span, .umg__calendar .calendar__header img {
    display: inline-block;
    vertical-align: middle;
}
.umg__calendar .calendar__header img {
    max-width: 40px;
}

.umg__calendar__container {
    display: flex;
}

.umg__calendar__container .calendar__table{
    flex: 60%;
}

.umg__calendar__container .caldendar__details{
    flex: 40%;
}
.umg__calendar__container .caldendar__details .vertical-timeline-element-icon img {
    width: 100%;
    padding: 10px;
}

.umg__calendar__container .caldendar__details .vertical-timeline.vertical-timeline--two-columns:before {
    background: #bbbbbb;
}

.umg__calendar__container .caldendar__details .vertical-timeline {
    padding: 0;
    max-height: 550px;
    overflow: scroll;
}

.umg__calendar__container .caldendar__details .calendar__details_header {
    height: 120px;
    background: #d4eafc;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    margin-bottom: 30px;
}

.umg__calendar__container .caldendar__details .calendar__details_header p {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    padding-left: 40px;
    font-size: 20px;
}

.umg__calendar .umg__calendar__dropdowns{
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    width: 100%;
    position: unset;
    margin-bottom: 50px;
    padding: 25px 0 0;
}

.umg__calendar .umg__labels{
    width: 120px;
    border-radius: 15px;
    border: 1px solid #CECECE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    height: 50px;
}

.dialog__box .MuiPaper-root {
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0 25px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 0 25px;
    box-shadow: rgba(0,0,0,0.5) 0 0 25px;
}

.dialog__box h2, .dialog__box p, .dialog__box span, .dialog__box input {
    font-family: "Montserrat", sans-serif;
}

.material__symbols__outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#year__dropdown__label{
    display: inline-block;
    position: unset;
    align-self: center;
    font-size: 25px;
    transform-origin: unset;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    padding: 16px 10px 0;
}

table {
    order: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.5) 0 0 25px;
    width: 96%;
    overflow: hidden;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    height: 100px;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #d4eafc;
}

td{
    position: relative;
    z-index: 0;
}
td:active,
td:hover {
    background-color: #d4eafc;
    opacity: 0.5;
    cursor: pointer;
}
td:hover .umg__reminder__wrapper .umg__reminder__details, td:active .umg__reminder__wrapper .umg__reminder__details{
    background-color: #eafcd4;
    opacity: 1;
    z-index: 1000;
}

.umg__reminder__wrapper{
    overflow-y: auto;
}

.umg__remider{
    background-color: blanchedalmond;
    border-radius: 10px;
}

.umg__remider svg {
    margin-left: 15px;
}

.umg__reminder__details {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    display: none;
    min-width: 173px;
    min-height: 40px;
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: #eafcd4;
    border: 1px solid #ccc;
    opacity: 1;
    z-index: 1000;
    align-items: center;
    justify-content: space-evenly;
  }
  

.umg__remider__location{
    margin-right: 15px;
    height: 100%;
}

.umg__reminder__container:hover .umg__reminder__details,
.umg__reminder__container:focus .umg__reminder__details {
    display: flex;
}

.umg__details__icons svg {
    margin-left: 10px;
    height: 100%;
    font-size: 22px;
}