.footer {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-links a {
    color: #fff;
    margin-right: 10px;
}

.social-links a:hover {
    color: #ccc;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-youtube {
    font-size: 24px;
}
